<div class=" booking-option5">
    <div class="block-bk block-bk_style5">

        <div class="block-bk-schedule">
            <div class="bk-datepicker">
                <div class="bk-datepicker-title">

                    <div class="actions-next-month">
                        <a id="reservation_option_3_previous_month" title="Previous month" class="action prev-month"><span data-bind="i18n: 'Previous month'"></span></a>
                        <a id="reservation_option_3_next_month" title="Next month" class="action next-month"><span data-bind="i18n: 'Next month'"></span></a>
                    </div>
                    <span id="reservation_option_3_this_month" class="title-month"></span>

                    <div class="list-day">
                        <div class="item-day">Mo</div>
                        <div class="item-day">Tu</div>
                        <div class="item-day">We</div>
                        <div class="item-day">Th</div>
                        <div class="item-day">Fr</div>
                        <div class="item-day">Sa</div>
                        <div class="item-day">Su</div>
                    </div>
                </div>
                <div class="bk-datepicker-content">
                    <table class="table-datepicker">
                        <tr>
                            <td id="reservation_option_3_date_11" class="past-month">
                                <div id="reservation_option_3_date_11_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_12" class="past-month">
                                <div id="reservation_option_3_date_12_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_13" class="past-month">
                                <div id="reservation_option_3_date_13_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_14" class="past-month">
                                <div id="reservation_option_3_date_14_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_15" class="past-month">
                                <div id="reservation_option_3_date_15_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_16" class="past-month">
                                <div id="reservation_option_3_date_16_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_17" class="past-month">
                                <div id="reservation_option_3_date_17_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                        </tr>
                        <tr>
                            <td id="reservation_option_3_date_21" class="past-month">
                                <div id="reservation_option_3_date_21_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_22" class="past-month">
                                <div id="reservation_option_3_date_22_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_23" class="past-month">
                                <div id="reservation_option_3_date_23_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_24" class="past-month">
                                <div id="reservation_option_3_date_24_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_25" class="past-month">
                                <div id="reservation_option_3_date_25_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_26" class="past-month">
                                <div id="reservation_option_3_date_26_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_27" class="past-month">
                                <div id="reservation_option_3_date_27_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                        </tr>
                        <tr>
                            <td id="reservation_option_3_date_31" class="past-month">
                                <div id="reservation_option_3_date_31_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_32" class="past-month">
                                <div id="reservation_option_3_date_32_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_33" class="past-month">
                                <div id="reservation_option_3_date_33_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_34" class="past-month">
                                <div id="reservation_option_3_date_34_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_35" class="past-month">
                                <div id="reservation_option_3_date_35_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_36" class="past-month">
                                <div id="reservation_option_3_date_36_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_37" class="past-month">
                                <div id="reservation_option_3_date_37_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                        </tr>
                        <tr>
                            <td id="reservation_option_3_date_41" class="past-month">
                                <div id="reservation_option_3_date_41_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_42" class="past-month">
                                <div id="reservation_option_3_date_42_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_43" class="past-month">
                                <div id="reservation_option_3_date_43_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_44" class="past-month">
                                <div id="reservation_option_3_date_44_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_45" class="past-month">
                                <div id="reservation_option_3_date_45_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_46" class="past-month">
                                <div id="reservation_option_3_date_46_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_47" class="past-month">
                                <div id="reservation_option_3_date_47_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                        </tr>
                        <tr>
                            <td id="reservation_option_3_date_51" class="past-month">
                                <div id="reservation_option_3_date_51_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_52" class="past-month">
                                <div id="reservation_option_3_date_52_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_53" class="past-month">
                                <div id="reservation_option_3_date_53_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_54" class="past-month">
                                <div id="reservation_option_3_date_54_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_55" class="past-month">
                                <div id="reservation_option_3_date_55_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_56" class="past-month">
                                <div id="reservation_option_3_date_56_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_57" class="past-month">
                                <div id="reservation_option_3_date_57_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                        </tr>
                        <tr>
                            <td id="reservation_option_3_date_61" class="past-month">
                                <div id="reservation_option_3_date_61_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_62" class="past-month">
                                <div id="reservation_option_3_date_62_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_63" class="past-month">
                                <div id="reservation_option_3_date_63_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_64" class="past-month">
                                <div id="reservation_option_3_date_64_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_65" class="past-month">
                                <div id="reservation_option_3_date_65_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_66" class="past-month">
                                <div id="reservation_option_3_date_66_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                            <td id="reservation_option_3_date_67" class="past-month">
                                <div id="reservation_option_3_date_67_title" class="text-day"></div>
                                <span class="text-curr"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="block-bk-staff">
            <div class="block-title">
                <span id="reservation_option_3_time_title" class="title"></span>
            </div>
            <div class="block-content">
                <ul>
                    <li>
                        <strong class="name">
                            <span data-bind="i18n: 'Event'"></span>
                        </strong>

                        <div id="reservation_option_3_event_notify" class="des">
                        </div>
                        <strong class="name">
                            <span data-bind="i18n: 'Maximum Number Of Slots'"></span>
                        </strong>

                        <div id="reservation_option_3_numberOfSlots_notify" class="des">
                        </div>
                        <strong class="name">
                            <span data-bind="i18n: 'Number Of Slots You Want To Purchase'"></span>
                        </strong>
                        <input id="reservation_option_3_numberOfSlots" type="number" value="1" min="0" class="des">
                        <strong class="name">
                            <span data-bind="i18n: 'Service Price'"></span>
                        </strong>

                        <div id="reservation_option_3_current_price" class="des">
                        </div>
                        <div id="reservation_option_3_addToCart" class="actions">
                            <button class="btn btn-addcart">
                                <span data-bind="i18n: 'Add To Cart'"></span>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="block-bk-cart">
            <div class="block-title">
                <span class="title" data-bind="i18n: 'Your Cart'"></span>
            </div>
            <div class="bk-check-form">
                <ul id="reservation_option_3_myCart">
                </ul>
            </div>
        </div>
    </div>
    <input id="reservation_option_3_cart_temp" style="display: none;">
    <input id="reservation_option_3_cart_allData" style="display: none;">
</div>