<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div class="block-bk block-bk_style3">
    <div class="block-bk-schedule">
        <div class="block-title">
            <span class="title" data-bind="i18n: 'product schedule'"></span>
        </div>
        <div class="block-content">
            <ul id="reservation_option_0_time_list">
            </ul>
        </div>
        <input id="reservation_option_0_time_temp" style="display: none;">
    </div>

    <div class="block-bk-staff">
        <div class="block-title">
            <span class="title" data-bind="i18n: 'Staff List'"></span>
        </div>
        <div class="block-content">
            <ul>
                <li>
                    <select id="reservation_option_0_staff_list" data-mage-init="0" class="form-control">
                    </select>
                    <strong class="name">
                        <span data-bind="i18n: 'Event'"></span>
                    </strong>
                    <div id="reservation_option_0_event_notify" class="des">
                    </div>
                    <strong class="name">
                        <span data-bind="i18n: 'Staff Name'"></span>
                    </strong>
                    <div id="reservation_option_0_staff_name" class="des">
                    </div>
                    <div class="avatar">
                        <img id="reservation_option_0_staff_avatar">
                    </div>
                    <strong class="name">
                        <span data-bind="i18n: 'Staff Introduction'"></span>
                    </strong>
                    <div id="reservation_option_0_staff_intro" class="des">
                    </div>
                    <strong class="name">
                        <span data-bind="i18n: 'Service Price'"></span>
                    </strong>
                    <div id="reservation_option_0_current_price" class="des">
                    </div>
                    <div id="reservation_option_0_addToCart" class="actions">
                        <button class="btn btn-addcart">
                            <span data-bind="i18n: 'Add To Cart'"></span>
                        </button>
                    </div>
                    <input id="reservation_option_0_staff_temp" style="display: none;">
                </li>
            </ul>
        </div>
    </div>

    <div class="block-bk-cart">
        <div class="block-title">

            <span class="title" data-bind="i18n: 'Your Cart'"></span>
        </div>
        <div class="block-content">
            <ul id="reservation_option_0_cart">
            </ul>
        </div>
    </div>
</div>
<input id="reservation_option_0_cart_temp" style="display: none;">
</body>
</html>